<header>
    <h1>List of prohilbited words</h1>
</header>

<section>
    <div class="block_censorship">
        <div class="bad_words:">
            <h3>Bad words:</h3>
        </div>
        <hr>
        <div class="input_bad_word">
            <input type="text" class="form-control ds-input inp_bw " id="inp_bw" placeholder="Word here..." value="">
            <button type="button" class="btn btn-warning add_btn">Add</button>
            <button type="button" class="btn btn-danger reset_btn">Reset</button>
        </div>
        <hr>
        <div class="result">
            <input type="textarea" class="form-control ds-input inp_text " placeholder="Text here" value="">
            <button type="button" class="btn btn-success cenzor_btn">Cenzor</button>
        </div>
    </div>
</section>